@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.success-message {
    animation: slideUp 10.5s forwards;
}

.error-message {
    animation: slideUp 10.5s forwards;
}
