@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],input[type="email"],input[type="name"],input[type="number"],
textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

button {
    @apply bg-gray-300;
}

button.primary {
    @apply bg-blue-500 p-2 w-full text-white rounded-2xl;
}





/* Ensure the root element takes the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Ensure the root container stretches to fill the height */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Ensure the content area grows to fill available space */
  .main-content {
    flex-grow: 1;
  }
  